[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
bs4 = "*"
pyquery = "*"
pychromedevtools = "*"

[dev-packages]

[requires]
python_version = "3.12"
